@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

.books-container {
    height: 100vh;
      background: url(../../assets/images/hero-image.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}