@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

body {
    font-family: "Lato", sans-serif;
}

/*-----------------------------------------------------------------------------------Navbar*/

/*Navbar setup - Whiskey drop project/code institute*/

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10;
    padding-right: 10;
    width: 100%;
    background-color: #f86b4f;
    z-index: 1;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 1.3rem

}

.navbar .navbar-nav a {
    font-weight: 400;
}

.login-text {
    font-family: "Muli",sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.login-text:hover {
    text-decoration: none;
    color: #fff;
}

/*-----------------------------------------------------------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-family: "Muli",sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
}

.bookclub-text {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.smb-quote {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
/*-----------------------------------------------------------------------------------Continers*/
.container {
    width: 100%;
}

/*css-tricks*/
.books-container-home {
    height: 75vh;
    background: url(../../assets/images/hero-images/hero-image.jpg) no-repeat bottom center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.books-container-reviews {
    height: 75vh;
    background: url(../../assets/images/hero-images/hero-image-002.jfif) no-repeat bottom center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.about-container {

}



.bookworm-container{
    
}

.challenge-container{

}

.reviews-container {

}

.quotes {

}

.interviews {

}

/*-----------------------------------------------------------------------------------Images*/

.about-img {
    height: auto;
    width: 100%;
    max-width: 720px;
}

.about-imgFang {
    height: auto;
    width: 100%;
    display: inline-block;
    max-width: 720px;
    margin-top: 25px;
    margin-bottom: 20px;
    transform: skewY(-5deg);
}

.about-imgWaterstones {
    height: auto;
    width: 100%;
    display: inline-block;
    max-width: 720px;
    margin-top: 25px;
    margin-bottom: 20px;
    transform: skewY(5deg);
}

.about-imgStarfell {
    height: auto;
    width: 100%;
    display: inline-block;
    max-width: 720px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.rounded-circle {
    margin-top: 50px;
}

.scavengers-media {
    margin-top: 30px;
}

.jinxed-media {
    margin-top: 30px;
}

.itkoc-media {
    margin-top: 30px;
}


/*-----------------------------------------------------------------------------------Videos*/


/*Fluid width video - css tricks*/
.bookworm-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.bookworm-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.challenge-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

.challenge-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

/*-----------------------------------------------------------------------------------Headers*/


.header {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 75px;
    background-color: #f86b4f;
}

.header-row {
    margin-top: 15px;
}

.about-header {
    font-family: "Muli", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
}

.bookworm-header {
    font-family: "Muli", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
}

.challenge-header {
    font-family: "Muli", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
}

.reviews-header {
    font-family: "Muli", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px; 
}

.favourites-header {
    font-family: "Muli", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px; 
}

.latest-header {
    font-family: "Muli", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px; 
}

.interviews-header {
    font-family: "Muli", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px; 
}

/*-----------------------------------------------------------------------------------Paragraphs*/

.about-text {
    letter-spacing: .5px;
    line-height: 1.3;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15;
    padding-right: 15;
}

.bookworm-text{
    letter-spacing: .5px;
    line-height: 1.3;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15;
    padding-right: 15;
}


.challenge-text {
    letter-spacing: .5px;
    line-height: 1.3;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15;
    padding-right: 15;
}

.toppsta-text {
    letter-spacing: .5px;
    line-height: 1.3;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15;
    padding-right: 15;
}

.review-text {
    letter-spacing: .5px;
    line-height: 1.3;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;     
}

.blurb {
    margin-top:25px;
    margin-bottom: 25px;
    font-size: 16px;
}

/*-----------------------------------------------------------------------------------Quotes*/

.blockquote {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 25px;
}

/*-----------------------------------------------------------------------------------Buttons*/

.btn--cta{
    font-weight: bold;
    border-radius: 23px;
    width: 150px;
}

.btn--cta-short{
    font-weight: bold;
    border-radius: 23px;
    width: 75px;
}

.btn--review{
    font-weight: bold;
    border-radius: 23px;
    width: 150px;
    margin-bottom: 30px;
}

.btn--orange{
    color: #fff;
    background-color: #f86b4f;
    border-color: #f86b4f;
}

.btn--orange:hover,
.btn--orange:focus,
.btn--orange:active,
.btn--orange:active:focus {
    color: #000;
    background-color: #d34f35;
    border-color: #d34f35;
} 

/*-----------------------------------------------------------------------------------Modal*/

/*Modal setup - Whiskey drop project/code institute*/

.modal-title{
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 1.5em;  
}

.form-group {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.form-text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: .75em;
}

/*-----------------------------------------------------------------------------------Footer*/

/*Footer setup - UCD-mini project/code institute*/

footer {
    background-color: #f86b4f;
    color: #ffffff;
    min-height: 120px;
    font-weight: 400;
}

.footer-head {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    color:#ffffff;
    text-align: center;
}

.footer-text {
    text-align: center;
    padding-top: 3px;
}

.social-links {
    text-align: center;
}

.blog i {
    font-size: 20px;
    color: rgba(255,255,255,.5);
    text-align: center;
    padding-left: 7px;
    padding-bottom: 20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.blog i:hover {
    color: #fff;
}

.toppsta-reviews i {
    font-size: 20px;
    color: rgba(255,255,255,.5);
    text-align: center;
    padding-left: 7px;
    padding-bottom: 20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}

.toppsta-reviews i:hover {
    color: #fff;
}

.social-links {
    padding-bottom: 20px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: rgba(255,255,255,.5);
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links li a i:hover {
   color: #fff;
}

#footer-details {
    padding-left: 12px;
    padding-top: 30px;
}
